.Rproj.user
.Rhistory
.RData
.Ruserdata
Projetos_ADQGS/Proposta 04 - Diabetes Mellitus/sia_am_es_2022.csv
.DS_Store
.DS_Store
.DS_Store
Projetos_ADQGS/codigos_aovivo/Hosp_Maria.qmd
Projetos_ADQGS/projeto-final-mod2/ESpecial_Sinan.xlsx
Labs/combined.csv
Labs/combined.tsv
Labs/Report_Resp.html
Labs/reports/*
